.terraform/
.terraform.lock.hcl

backend/**/.adk
backend/**/.venv
backend/**/__pycache__
backend/agentutil/uv.lock
backend/**/.env

frontend/**/.venv
frontend/**/__pycache__

deployment_config.env

ces-messenger


**/.DS_Store

ces-blueprint/
agentutil.egg-info/